section {
	/*display: inline;
	float: none;*/
}

header {
	display: block;

}
.nav {
	display: inline-block;
	color: red;
    /*float: left;*/
    margin: 5px;
    padding: 15px;
    width: 100px;
    border: 1px solid black;
} 

/*nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}*/

.margin {
	margin:10px;
}