<!DOCTYPE html>
<html>
<head>

</head>
<body>

<div id="ajax-snippet"></div>

    <h1>Your Madlib Form!</h1>

    <!-- Mad lib form -->
    <form action = "submitform">
        <label for="name"> Gracen go poopoo: </label> <br>
        Name: <br>
        <input type="text" id="name" name="name">
        Email: <br>
        <input type="text" id="email" name="email">
        Address: <br>
        <input type="text" id="address" name="address">


        <input type="submit" value="subit the form" />
    </form>

    <!-- Where your madlib story will appear -->
    <div id="madlibStory">

    </div>

    <script src="/static/jquery-1.11.3.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>